* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    align-items: center;
    justify-content: center;
    background: #caf440; 
  }
  h1{
      text-align: center;
      color: blue;
  }
  h3{
      text-align: center;
      margin-bottom: 10px;
  }
  
  .form-label{
      padding-bottom: 0px;
      margin-bottom: 2px;
      font-weight: bold;
      color: black;
  }
  .form-check-label{
      margin-left: 20px;
      color: darkred;
  }
  .form-text{
      color: black;
  }
  .error-text{
      color: indianred;
      margin-top: 0px;
      margin-bottom: 0px;
  
  }
  
  .inputfeild span{
         color: red;
         margin-top: 5PX; 
        }
      
  
  .inputfeild span i{
        color: green;
        }
            
 #containerm {
    position: relative;
    max-width: 600px;
    height: auto;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background:transparent;
    padding-top: 25px;
    border: 1px solid blue;
    margin-top: 70px;
    margin-bottom: 40PX;
}
          
  
  #btnSubmit{
      padding: 5px;
      font-size: 30px;
      margin-top: 30px;
  }

  /* CSS for the alert popup */
.alert-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
  }

  /* Style the show/hide password icon */
.show-hide i {
    font-size: 18px;
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
    margin-left: -30px; /* Adjust the icon's position */
    color: #007bff; /* Change the color of the icon */
}

/* Style the show/hide button container */
.input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent; /* Make the button transparent */
    border: none; /* Remove the button border */
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
    padding: 0; /* Remove padding to make the button smaller */
}

/* Change the button background on hover */
.input-group-append .btn:hover {
    background-color: transparent;
}
