* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    align-items: center;
    justify-content: center;
    background: #caf440; 
  }
  h1{
      text-align: center;
      color: blue;
  }
  h3{
      text-align: center;
      margin-bottom: 10px;
  }
  
  .form-label{
      padding-bottom: 0px;
      margin-bottom: 2px;
      font-weight: bold;
      color: black;
  }
  .form-check-label{
      margin-left: 20px;
      color: darkred;
  }
  .form-text{
      color: black;
  }
  .error-text{
      color: indianred;
      margin-top: 0px;
      margin-bottom: 0px;
  
  }
  
  .inputfeild span{
         color: red;
         margin-top: 5PX; 
        }
      
  
  .inputfeild span i{
        color: green;
        }
            
 #containerm {
    position: relative;
    max-width: 600px;
    height: auto;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background:transparent;
    padding-top: 20px;
    border: 1px solid blue;
    margin-top: 40px;
    margin-bottom: 60PX;
}
          
  
  #btnSubmit{
      padding: 5px;
      font-size: 30px;
      margin-top: 30px;
  }

  /* CSS for the alert popup */
.alert-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
