<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT ME - Navigation Bar</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--
   * @author Yasiru
   * contact me : https://linktr.ee/yasiruchamuditha for more information.
   -->
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">
            <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-1/177800/01-1024.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            <strong>CHAT ME</strong>
          </a>
     
          <div class="d-flex " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/home"><strong>HOME</strong></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/sendmessage"><strong>SEND MESSAGE</strong></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/register"><strong>REGISTER</strong></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/login"><strong>LOG IN</strong></a>
                </li>
            </ul>
        </div>
        </div>
      </nav>

<!-- Include Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>


