<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT ME - SEND MESSAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'css/style.css')}}">
    <link rel="icon" type="images/x-icon" href="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-1/177800/01-1024.png" />
    <!--
   * @author Yasiru
   * contact me : https://linktr.ee/yasiruchamuditha for more information.
   -->
</head>
<body  style="background: url(static/images/1sendMessage.png); background-size: cover;">
    {% include 'nav.html' %}
    <div class="container-fluid" id="containerm">
        <h1>SEND MESSAGE</h1>
                    <!-- Bootstrap Alert Messages -->
          <!-- Bootstrap Alert Messages -->
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                      {{ message }}
                  {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}
      {% endwith %}


        <form class="row g-3 needs-validation" name="frmSendMessage" method="POST" autocomplete="off" action="/SendMessageMethod" onsubmit="return result()">
            <div class="form-group inputfeild mt-4">
                <label class="form-label mt-3" for="textarea">Message:</label>
                <textarea class="form-control" id="textarea" rows="4" name="textareaMessage" onkeyup="validateMessage()"></textarea>
                <span id="Message_Error"></span>
            </div>
            <div class="inputfeild mt-4" >
                <label for="UserRole" class="form-label mb-2">Send To ..</label>
                <select name="User_Role"  id="User_Role"  class="role form-control" style="height: 50px;" onkeyup="validate_User_Role()">
                    <option selected value="S">Choose..</option>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <span id="UserRole_Error"></span>
            </div>
            <button type="submit" class="btn btn-outline-dark btn-lg " id="btnSubmit" name="btnSubmit" >Submit Details</button>
        </form>
    </div>
    {% include 'footer.html' %}
<!-- Include Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
     <!-- Include your Bootstrap JS and any other necessary scripts here -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
     <script>
         // Automatically close Bootstrap alert messages after 5 seconds
         $(document).ready(function(){
             $(".alert").delay(5000).slideUp(200, function() {
                 $(this).alert('close');
             });
         });
     </script>

     <!--validation user inputs-->
    <script type="text/javascript">
        var Message_Error=document.getElementById('Message_Error'); 
        var UserRole_Error = document.getElementById('UserRole_Error');
    
    //validate Message
    function validateMessage()
    {
      var Message = document.getElementById('textarea').value.replace(/^\s+|\s+$/g, "");
      if (Message.length == 0) 
      {
        Message_Error.innerHTML='Message is required.';
        return false;
      }
    
      Message_Error.innerHTML = '<i class="fa-regular fa-circle-check"></i> ';
      return true;
      }  
    
    //validate user Role
    function validate_User_Role()
    {
    if(document.getElementById("User_Role").value == "S")
    {
        UserRole_Error.innerHTML='User Role is required.';
        return false;
    }
       UserRole_Error.innerHTML = '<i class="fa-regular fa-circle-check"></i>';
       return true;
    }
      
    document.getElementById("User_Role").addEventListener("click", function() {
    
      if (document.getElementById("User_Role").value != "S") {
    
        UserRole_Error.innerHTML = '<i class="fa-regular fa-circle-check"></i>';
      return true;
    }
    });
    
    
    function result()
    {
      validateMessage();
      validate_User_Role();
    
    if((!validateMessage()) || (!validate_User_Role()) )
    {
       return false;
    }
    }
    </script>
</body>
</html>